Hyoung.FMS.WebService/Web References/TrackReference/tracks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gpsgate.com/services/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gpsgate.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gpsgate.com/services/">
      <s:element name="GetTracksByUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iApplicationID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrUserIDs" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="dtStart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtEnd" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTracksByUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTracksByUsersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTripsByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iApplicationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iUserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dtStart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtEnd" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTripsByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTripsByUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrackDataChunk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iApplicationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iTrackInfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dtStart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtEnd" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="iStartIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iStopIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrackDataChunkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrackDataChunkResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFatPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iApplicationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iTrackInfoID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dtStart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtEnd" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFatPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFatPointsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLifeRecorderByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iApplicationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iOwnerID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLifeRecorderByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLifeRecorderByUserResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLifeTrackRecorderFilters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iApplicationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iOwnerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dblTimeFilter" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblDistanceFilter" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblRestartInterval" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblRestartIntervalOffset" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblDirectionFilter" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblDirectionThreshold" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblSpeedFilter" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblRestartTime" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblRestartDistance" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="dblSmsTimeFilter" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="bMotion" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetLifeTrackRecorderFiltersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetLifeTrackRecorderFiltersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTrack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSessionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iApplicationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iTrackInfoID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTrackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteTrackResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTracksByUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetTracksByUsers" />
  </wsdl:message>
  <wsdl:message name="GetTracksByUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetTracksByUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTripsByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetTripsByUser" />
  </wsdl:message>
  <wsdl:message name="GetTripsByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetTripsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrackDataChunkSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrackDataChunk" />
  </wsdl:message>
  <wsdl:message name="GetTrackDataChunkSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrackDataChunkResponse" />
  </wsdl:message>
  <wsdl:message name="GetFatPointsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFatPoints" />
  </wsdl:message>
  <wsdl:message name="GetFatPointsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFatPointsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLifeRecorderByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetLifeRecorderByUser" />
  </wsdl:message>
  <wsdl:message name="GetLifeRecorderByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetLifeRecorderByUserResponse" />
  </wsdl:message>
  <wsdl:message name="SetLifeTrackRecorderFiltersSoapIn">
    <wsdl:part name="parameters" element="tns:SetLifeTrackRecorderFilters" />
  </wsdl:message>
  <wsdl:message name="SetLifeTrackRecorderFiltersSoapOut">
    <wsdl:part name="parameters" element="tns:SetLifeTrackRecorderFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTrackSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTrack" />
  </wsdl:message>
  <wsdl:message name="DeleteTrackSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTrackResponse" />
  </wsdl:message>
  <wsdl:portType name="TracksSoap">
    <wsdl:operation name="GetTracksByUsers">
      <wsdl:input message="tns:GetTracksByUsersSoapIn" />
      <wsdl:output message="tns:GetTracksByUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTripsByUser">
      <wsdl:input message="tns:GetTripsByUserSoapIn" />
      <wsdl:output message="tns:GetTripsByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackDataChunk">
      <wsdl:input message="tns:GetTrackDataChunkSoapIn" />
      <wsdl:output message="tns:GetTrackDataChunkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFatPoints">
      <wsdl:input message="tns:GetFatPointsSoapIn" />
      <wsdl:output message="tns:GetFatPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLifeRecorderByUser">
      <wsdl:input message="tns:GetLifeRecorderByUserSoapIn" />
      <wsdl:output message="tns:GetLifeRecorderByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetLifeTrackRecorderFilters">
      <wsdl:input message="tns:SetLifeTrackRecorderFiltersSoapIn" />
      <wsdl:output message="tns:SetLifeTrackRecorderFiltersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTrack">
      <wsdl:input message="tns:DeleteTrackSoapIn" />
      <wsdl:output message="tns:DeleteTrackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TracksSoap" type="tns:TracksSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTracksByUsers">
      <soap:operation soapAction="http://gpsgate.com/services/GetTracksByUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripsByUser">
      <soap:operation soapAction="http://gpsgate.com/services/GetTripsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackDataChunk">
      <soap:operation soapAction="http://gpsgate.com/services/GetTrackDataChunk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFatPoints">
      <soap:operation soapAction="http://gpsgate.com/services/GetFatPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLifeRecorderByUser">
      <soap:operation soapAction="http://gpsgate.com/services/GetLifeRecorderByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLifeTrackRecorderFilters">
      <soap:operation soapAction="http://gpsgate.com/services/SetLifeTrackRecorderFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrack">
      <soap:operation soapAction="http://gpsgate.com/services/DeleteTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TracksSoap12" type="tns:TracksSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTracksByUsers">
      <soap12:operation soapAction="http://gpsgate.com/services/GetTracksByUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripsByUser">
      <soap12:operation soapAction="http://gpsgate.com/services/GetTripsByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackDataChunk">
      <soap12:operation soapAction="http://gpsgate.com/services/GetTrackDataChunk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFatPoints">
      <soap12:operation soapAction="http://gpsgate.com/services/GetFatPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLifeRecorderByUser">
      <soap12:operation soapAction="http://gpsgate.com/services/GetLifeRecorderByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLifeTrackRecorderFilters">
      <soap12:operation soapAction="http://gpsgate.com/services/SetLifeTrackRecorderFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrack">
      <soap12:operation soapAction="http://gpsgate.com/services/DeleteTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tracks">
    <wsdl:port name="TracksSoap" binding="tns:TracksSoap">
      <soap:address location="http://52.43.97.199/GpsGateServer/Services/tracks.asmx" />
    </wsdl:port>
    <wsdl:port name="TracksSoap12" binding="tns:TracksSoap12">
      <soap12:address location="http://52.43.97.199/GpsGateServer/Services/tracks.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>